* {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;

}

/* Navigation Bar */
.nav {
    background-color: black;
    border-bottom: 1px solid rgb(39, 39, 39);
    display: flex;
    position: fixed;

}

.nav img {
    width: 60px;
    margin-left: 20vw;
    margin-right: 30vw;
}

.nav a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-self: center;
    padding: 0 20px;

}
/* Hero Section */
.hero {
    display: flex;
    padding: 10px;
    padding-bottom: 10vh;
    border-bottom: 0.5px solid rgb(170, 170, 170);
}

.hero>img {
    width: 20vw;
    border-radius: 50%;
    border: 2px solid rgb(170, 170, 170);
    display: flex;
    justify-self: center;
    margin-top: 10vh;
    margin-left: 100px;
}

.hero-details>h1 {
    margin-top: 15vh;
    text-align: center;
}

.hero-details>p {
    margin-top: 5vh;
    text-align: center;
    color: rgb(172, 172, 172);
    padding: 10px 10vw;
}

.hero-details>button {
    padding: 5px 10px;
    display: flex;
    justify-self: center;
    border: 2px solid rgb(56, 56, 56);
    color: rgb(160, 160, 160);
    border-radius: 8px;
    margin-top: 7vh;
}

.hero-details>button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid rgb(255, 255, 255);
    /* cursor: pointer; */
}

@media (max-width: 500px) {
    .hero {
        display: block;
    }

    .hero button {
        display: flex;
        align-self: center;
        justify-content: center;
        margin-top: 3vh;
    }

    .hero h1 {
        text-align: center;
        margin-top: 5vh;
    }

    .hero p {
        text-align: center;
        display: flex;
        margin-top: 2vh;
    }

    .hero img {
        margin-left: 0px;
    }
}

/* About Section */
.about {
    padding: 10vh 10%;

}

.about p {
    color: rgb(172, 172, 172);
    padding: 8vh 0 5vh 0;
}

.about button {
    padding: 5px 10px;
    color: rgb(160, 160, 160);
    border: 2px solid rgb(56, 56, 56);
    border-radius: 10px;
    margin: 10px 0;
}

.about button:hover {
    border: 2px solid rgb(255, 255, 255);
    color: white;

}
.btn{
    display: flex;
    gap: 30px;
}
@media (max-width: 420px){
    .btn{
        display: block;

    }
    .about button{
        display: block;
        justify-self: center;
        align-self: center;
    }
    .about p{
        padding: 3vh 0 2vh 0;
    }

}
/* Service Section */
.services{
    padding: 5vh 10px 5vh ;

}
.services h1{
    text-align: center;
    padding: 3vh 0 2vh;

}
.services p{
    color: rgb(172, 172, 172);
    padding: 0 10vw 3vh;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: space-around;
}
.service-card {
    width: 20vw;
    overflow: hidden;
    border: 1px solid rgb(223, 191, 31);
}